.filterLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .filterLabelText {
    font-weight: 500;
    font-style: italic;
    color: var(--dark-violet-color);
  }
  
  .filterInput {
    width: 300px;
    height: 26px;
    padding-left: 10px;
  
    outline: 3px solid var(--light-violet-color);
    border: none;
    border-radius: 5px;
  }
  
  .filterInput:focus {
    outline-color: var(--ice-blue-color);
  }