.contactForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    background-color: var(--light-violet-color);
    border: 3px solid transparent;
    border-radius: 5px;
  }
  
  .contactFormLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-style: italic;
    font-weight: 500;
    color: white;
  }
  
  .contactFormInput {
    width: 300px;
    height: 26px;
    padding-left: 10px;
    outline: 3px solid transparent;
    border-radius: 5px;
  }
  
  .contactFormInput:focus {
    outline-color: var(--ice-blue-color);
  }
  
  .addContactBtn {
    min-width: 132px;
    min-height: 32px;
    margin: 0 auto;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-weight: 500;
    color: var(--dark-violet-color);
  
    background-color: var(--white-color);
    border-radius: 5px;
    transition: color var(--transition), background-color var(--transition),
      box-shadow var(--transition);
  }
  
  .addContactBtn:hover,
  .addContactBtn:focus {
    color: var(--white-color);
    background-color: var(--dark-violet-color);
    box-shadow: var(--light-box-shadow);
  }