.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .title {
    margin-bottom: 15px;
    text-align: center;
    color: var(--dark-violet-color);
  }
  
  .phoneBookWrapper {
    margin-bottom: 15px;
  }
  
  .contactsWrapper {
    max-width: 330px;
  }